body {
  background-image: url(https://i.pinimg.com/originals/1c/fa/1c/1cfa1c6acad44a2c1b70881cd5bf7604.png);

}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.form {
  padding: 20px;
}

#instructions {
  text-align: center;
  font-size: 8pt;
}

.header {
  border: 2px solid black;
  background-color: #f8edca;
  text-align: center;
}

.list-header {
  text-align: center;
  margin-top: 5px;
}

.item-list {
  background-color: #f8edca;
  border: 2px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  width: 400px
}

.shopping-list {
  background-color: #f8edca;
  border: 2px solid black;
  display: flex;
  justify-content: right;
  align-items: center;
  display: inline-block;
  padding: 35px;
  border-radius: 10px;
  width: 375px
}

.items {
  text-align: center;
  list-style: none;
}

.strike {
  list-style: none;
  text-align: center;
  text-decoration: line-through;
}

.form {
  text-align: center;
}

.reset-button {
  background-color: #C97064;
  display: flex;
  text-align: center;
}

.add-button {
  margin: 5px;
  background-color: #68A357;
  border-radius: 10px;
}

.heart-button {
  border: 1px solid black;
  background-color: transparent;

}


.delete-button {
  background-color: #C97064;
  border-radius: 10px;
}

.submit-button {
  background-color: #68A357;
}