body {
  background-color: #A6B07E;
}

main {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin: 1rem;
  padding: 1rem;
}

.header {
  border: 2px solid black;
  background-color: #68A357;
  text-align: center;
}

.list-header {
  text-align: center;
  margin-top: 5px;
}

.item-list {
  background-color: #C97064;
  border: 2px solid black;
  display: flex;
  justify-content: left;
  align-items: center;
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.shopping-list {
  background-color: #BCA371;
  border: 2px solid black;
  display: flex;
  justify-content: right;
  align-items: center;
  display: inline-block;
  padding: 35px;
  border-radius: 10px;
}

.items {
  text-align: center;
  list-style: none;
}

.strike {
  list-style: none;
  text-align: center;
  text-decoration: line-through;
}

.form {
  text-align: center;
}

.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-button {
  background-color: #68A357;
  border-radius: 10px;
}

.strike-button {
  background-color: #C97064;
  border-radius: 10px;
}